<html>
<head>
    <title>Angular QuickStart</title>
    <meta charset="UTF-8">
    <!-- Global Stylesheets in public domain, !not ng2 specific bundled css -->
    <base href="<%= htmlWebpackPlugin.options.baseUrl %>" />
</head>

<body>
<my-app>...myApp</my-app>
</body>
</html>
